*{
    font-family: sans-serif;
}
#logo{
    height: 100px;
    width: 600px ;
    a{
        border: none;
    }       
    
}

#head{
    
    /* background-color: green; */
    font-size: 4rem;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-left: 10px;
}

#logo:hover{
    
    border: 5px solid #00ffd5;
    border-radius: 10px;
    
}

.opt:hover{
    
    a:hover{
        
        /* background-color: #00ffd5; */
        
        color: #00ffd5;
        border: 4px solid #00ffd5;
        
    }
}    



a:hover{
    
    
    border-radius: 10px;
    
    /* background-color: #00ffd5; */
}

.opt.active{
    
    display:flex;
    flex-direction: column;
    position:relative;
    background-color: black;
    top: 10px;
    bottom: 0px;
    right: 0px;
    left: 10px;
    
    a{
        font-size: 2rem;
        
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 10px;
        
        margin-bottom: 10px;
        margin-left: 10px;
        
        border: 2px solid white;
        /* border-radius: 20px; */
        border-radius: 10px;
    }
    height: 500px;
    width: 70%;
    
    border: 2px solid white;
}


.container{
    
    
    background-color: rgb(0, 0, 0);
    height: 10rem;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
    a{
        
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        height: 50px;
        margin-right: 50px;
    }
    

    .searchbar{
        
        
        position: relative;
        top: 120px;
        right: 600px;
    }        
    
    #hamicon{
        position: relative;
        display:none;
        height: 60px;
        
    }
        
    .sell{
        
        position: relative;
        color:white;
        height: 50px;
        width: 250px;
        
        right: 100px;
        border-width: 150px;
        
        text-align: center;
        line-height: 50px;
        
        font-weight: bolder;
        border-radius: 20px;
        
        a{

            
            border: none;
        }
    }
    
    .sell:hover{
        border: 10px solid #00ffd5; 
        
    }
    
}


#footer {
    
    height: 100px;
    width: 100%;
    
    background-color: black;
    
    position:relative;
    bottom: 0px;
    text-align: center;
    margin-top: 70px;
    padding-top: 50px;
    
    color: white;
    
}

.subheader{
    h1{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        
        text-decoration: underline;
    }
    ul{
        
        font-size: 1.4rem;
        
        font-weight: bolder;
        display :flex;
        justify-content: space-around;
    }
}

.main{
    background-color: #eeee;
    width: 100%;
    height: 80vh;
}